<!DOCTYPE html>
<html>
<body>

<form action="addemployee" method="post">

<I>Please fill in the below details to add employee</I><br/><br/>

First Name : <input type="text" name="fName" id="fName"> <br/><br/>

Last Name: <input type="text" name="lName" id="lName"> <br/><br/>

Email Id : <input type="text" name="email" id="email"> <br/><br/>

Department : <input type="text" name="department" id="department"> <br/><br/>

<input type="submit" value="ADD Employee"> <br/></br>

<a href="updateemployee">Update Employee Details</a><br/><br/>
<a href="deleteemployee">Delete Employee Details</a><br/><br/>
<a href="viewemployee">View Employee Details</a>
</form>

</body>
</html>