<!DOCTYPE html>
<html>

<body>

<form action="updateemployee" method="post">

<I>Please fill in the below details to update employee</I><br/><br/>

Employee ID : <input type="text" name="id" id="id"> <br/><br/>

First Name : <input type="text" name="fName" id="fName"> <br/><br/>

Last Name: <input type="text" name="lName" id="lName"> <br/><br/>

Email Id : <input type="text" name="email" id="email"> <br/><br/>

Department : <input type="text" name="department" id="department"> <br/><br/>

<input type="submit" value="Update Employee"> <br/></br>

<a href="addemployee">Add Employee Details</a><br/><br/>

<a href="deleteemployee">Delete Employee Details</a><br/><br/>

<a href="viewemployees">View Employee Details</a>
</form>

</body>

 

</html>