<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login Page</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="wrapper">
			<div class="title"><span>Login Form</span></div>
			<form th:action="@{/loginuser}" th:object="${users}" method="post">
				<p th:if="${error}" class="error">UserName & Password Incorrect</p>
				<div class="row">
					<label for="emailId">Email</label>
					<input type="text" name="emailId">
				</div>

				<div class="row">
					<label for="password">Password</label>
					<input type="password" name="password">
				</div>

				<div class="row button">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>
	</body>
	
	</html>